{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Эдуард Казачков</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Меня зовут Эдуард и мне 22 года.
          Я начал изучать программирование, потому что понял,
          что мне не интересна профессия, на которую я учился до этого.
          Надеюсь, благодаря этому проекту я получу знания, которые будут необходимы мне в дальнейшей работе.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (938) 146-54-39</p>
        <p>ВК: @d1qqo</p>
        <p>Телеграм: @d1qqo</p>
      </div>
    </div>
  </div>
{% endblock %}